<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Sumup_Blog::blog_management" title="Use ACL" sortOrder="100">
                    <resource id="Sumup_Blog::blog" title="blog" sortOrder="10"/>
                    <resource id="Sumup_Blog::menu" title="Menu" sortOrder="20" />
                    <resource id="Sumup_Blog::Configuration" title="Configuration" sortOrder="30" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
