<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Sumup_Blog::blog_management" title="Blog Magento" translate="title" module="Sumup_Blog" sortOrder="1" resource="Sumup_Blog::menu"/>
        <add id="Sumup_Blog::blog" title="Blog List" translate="title" module="Sumup_Blog" sortOrder="20" parent="Sumup_Blog::blog_management" action="blog/page/index" resource="Sumup_Blog::menu"/>
        <add id="Sumup_Blog::new" title="Add New" translate="title" module="Sumup_Blog" sortOrder="30" parent="Sumup_Blog::blog_management" action="blog/page/edit" resource="Sumup_Blog::menu"/>
    </menu>
</config>

